@using System.Globalization
@using Abp.Configuration
@using Abp.Configuration.Startup
@using Abp.Web.Mvc.Alerts
@using Abp.Web.Security.AntiForgery
@using AbpDemoOne
@using AbpDemoOne.Configuration
@using AbpDemoOne.Web.Resources
@using AbpDemoOne.Web.Views.Shared.Components.SideBarNav
@using AbpDemoOne.Web.Views.Shared.Components.SideBarUserArea
@using AbpDemoOne.Web.Views.Shared.Components.TopBarLanguageSwitch
@using AbpDemoOne.Web.Views.Shared.Components.NotificationCalendar
@using AbpDemoOne.Web.Views.Shared.Components.NotificationMisc
@using AbpDemoOne.Web.Views.Shared.Components.Search
@using AbpDemoOne.Web.Views.Shared.Components.MPSeach

@inject AbpDemoOne.Timing.AppTimes AppTimes
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IMultiTenancyConfig MultiTenancyConfig
@inject IWebResourceManager WebResourceManager
@inject ISettingManager SettingManager
@inject IAlertManager AlertManager
@{
    Layout = null;
    AbpAntiForgeryManager.SetCookie(Context);
    var uiTheme = await SettingManager.GetSettingValueAsync(AppSettingNames.UiTheme);
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="~/favicon.ico">

    <title>AbpDemoOne</title>

    <environment names="Development">
        <!-- Fonts -->
        <link asp-append-version="true" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&amp;subset=latin-ext" rel="stylesheet">

        <!-- CSS - REQUIRED - START -->
        <!-- Batch Icons -->
        <link asp-append-version="true" rel="stylesheet" href="~/assets/fonts/batch-icons/css/batch-icons.css">
        <!-- Bootstrap core CSS -->
        <link asp-append-version="true" rel="stylesheet" href="~/assets/css/bootstrap/bootstrap.min.css">
        <!-- Material Design Bootstrap -->
        <link asp-append-version="true" rel="stylesheet" href="~/assets/css/bootstrap/mdb.min.css">
        <!-- Custom Scrollbar -->
        <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/custom-scrollbar/jquery.mCustomScrollbar.min.css">
        <!-- Hamburger Menu -->
        <link asp-append-version="true" rel="stylesheet" href="~/assets/css/hamburgers/hamburgers.css">

        <!-- CSS - REQUIRED - END -->
        <!-- CSS - OPTIONAL - START -->
        <!-- Font Awesome -->
        <link asp-append-version="true" rel="stylesheet" href="~/assets/fonts/font-awesome/css/font-awesome.min.css">
        <!-- JVMaps -->
        <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/jvmaps/jqvmap.min.css">
        <!-- CSS - OPTIONAL - END -->
        <!-- QuillPro Styles -->
        <link asp-append-version="true" rel="stylesheet" href="~/assets/css/quillpro/quillpro.css">
    </environment>


    <!-- View specific styles -->
    @RenderSection("styles", required: false)

    <script type="text/javascript">
        // This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
        var abp = abp || {};
        abp.appPath = '@ApplicationPath';
    </script>

</head>
<body class="@("theme-" + uiTheme)">

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebar" class="px-0 bg-dark bg-gradient sidebar">
                <ul class="nav nav-pills flex-column">
                    <li class="logo-nav-item">
                        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                            <span style="width:145rem;height:32.2rem">AbpDemoOne</span>
                            @*<img src="~/images/logo.png" width="145" height="32.3" alt="AbpDemoOne">*@
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-pills flex-column">
                    @await Component.InvokeAsync(typeof(SideBarNavViewComponent), new { activeMenu = ViewBag.CurrentPageName })
                </ul>
            </nav>
            <div class="right-column">
                <nav class="navbar navbar-expand-lg navbar-light bg-white">
                    <a class="navbar-brand d-block d-sm-block d-md-block d-lg-none" href="#">
                        <span style="width:145rem;height:32.2rem">AbpDemoOne</span>
                        @*<img src="assets/img/logo-dark.png" width="145" height="32.3" alt="QuillPro">*@
                    </a>
                    <button class="hamburger hamburger--slider" type="button" data-target=".sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle Sidebar">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                    <!-- Added Mobile-Only Menu -->
                    <ul class="navbar-nav ml-auto mobile-only-control d-block d-sm-block d-md-block d-lg-none">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbar-notification-search-mobile" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">
                                <i class="batch-icon batch-icon-search"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-fullscreen" aria-labelledby="navbar-notification-search-mobile">
                                @await Component.InvokeAsync(typeof(MPSeachViewComponent))
                            </ul>
                        </li>
                    </ul>

                    <!--  DEPRECATED CODE:
                        <div class="navbar-collapse" id="navbarSupportedContent">
                    -->
                    <!-- USE THIS CODE Instead of the Commented Code Above -->
                    <!-- .collapse added to the element -->
                    <div class="collapse navbar-collapse" id="navbar-header-content">
                        <ul class="navbar-nav navbar-language-translation mr-auto">
                            @await Component.InvokeAsync(typeof(TopBarLanguageSwitchViewComponent))
                        </ul>
                        <ul class="navbar-nav navbar-notifications float-right">
                            @await Component.InvokeAsync(typeof(SearchViewComponent))

                            <li class="nav-item dropdown">
                                @await Component.InvokeAsync(typeof(NotificationCalendarViewComponent))

                            </li>
                            <li class="nav-item dropdown">
                                @await Component.InvokeAsync(typeof(NotificationMiscViewComponent))

                            </li>
                        </ul>
                        <ul class="navbar-nav ml-5 navbar-profile">
                            @await Component.InvokeAsync(typeof(SideBarUserAreaViewComponent))
                        </ul>
                    </div>
                </nav>
                <main class="main-content p-5" role="main">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>



    <environment names="Development">

        <!-- SCRIPTS - REQUIRED START -->
        <!-- Placed at the end of the document so the pages load faster -->
        <!-- Bootstrap core JavaScript -->
        <!-- JQuery -->
        <script asp-append-version="true" type="text/javascript" src="~/assets/js/jquery/jquery-3.1.1.min.js"></script>
        <!-- Popper.js - Bootstrap tooltips -->
        <script asp-append-version="true" type="text/javascript" src="~/assets/js/bootstrap/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script asp-append-version="true" type="text/javascript" src="~/assets/js/bootstrap/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script asp-append-version="true" type="text/javascript" src="~/assets/js/bootstrap/mdb.min.js"></script>
        <!-- Velocity -->
        <script asp-append-version="true" type="text/javascript" src="~/assets/plugins/velocity/velocity.min.js"></script>
        <script asp-append-version="true" type="text/javascript" src="~/assets/plugins/velocity/velocity.ui.min.js"></script>
        <!-- Custom Scrollbar -->
        <script asp-append-version="true" type="text/javascript" src="~/assets/plugins/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
        <!-- jQuery Visible -->
        <script asp-append-version="true" type="text/javascript" src="~/assets/plugins/jquery_visible/jquery.visible.min.js"></script>
        <!-- jQuery Visible -->
        <script asp-append-version="true" type="text/javascript" src="~/assets/plugins/jquery_visible/jquery.visible.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script asp-append-version="true" type="text/javascript" src="~/assets/js/misc/ie10-viewport-bug-workaround.js"></script>

        <!-- SCRIPTS - REQUIRED END -->
        <!-- SCRIPTS - OPTIONAL START -->
        <!-- ChartJS -->
        <script asp-append-version="true" type="text/javascript" src="~/assets/plugins/chartjs/chart.bundle.min.js"></script>
        <!-- JVMaps -->
        <script asp-append-version="true" type="text/javascript" src="~/assets/plugins/jvmaps/jquery.vmap.min.js"></script>
        <script asp-append-version="true" type="text/javascript" src="~/assets/plugins/jvmaps/maps/jquery.vmap.usa.js"></script>
        <!-- Image Placeholder -->
        <script asp-append-version="true" type="text/javascript" src="~/assets/js/misc/holder.min.js"></script>
        <!-- SCRIPTS - OPTIONAL END -->
        <!-- QuillPro Scripts -->
        <script asp-append-version="true" type="text/javascript" src="~/assets/js/scripts.js"></script>
        <script asp-append-version="true" type="text/javascript" src="~/lib/abp-web-resources/Abp/Framework/scripts/abp.js"></script>

    </environment>



    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/AbpServiceProxies/GetAll?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>
    <script src="~/AbpScripts/GetScripts?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>

    <script src="~/lib/signalr-client/signalr.min.js" asp-append-version="true"></script>
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.signalr-client.js" asp-append-version="true"></script>

    @WebResourceManager.RenderScripts()

    <!-- View specific scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>
