@using Abp.Authorization.Users
@using AbpDemoOne.Web.Startup
@using AbpDemoOne.Web.Views.Shared.Components.Pagination;
@model AbpDemoOne.Web.Models.Users.UserListViewModel
@{
    ViewBag.CurrentPageName = PageNames.Users; // The menu item will be active for this page.
}

@section scripts
    {
    <environment names="Development">
        <script src="~/view-resources/Views/Users/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Users/Index.min.js" asp-append-version="true"></script>
    </environment>

}



<div class="card  ">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6 text-left">
                <h3 class="h-right">@L("Users")</h3>
            </div>
            <div class="col-md-6 text-right">
                <a class="btn btn-size btn-default" data-toggle="modal" data-target="#UserCreateModal">
                    <i class="material-icons">add</i>
                </a>
                <a id="RefreshButton" href="javascript:void(0);" class=" btn btn-size btn-default ">
                    <i class="material-icons">refresh</i>
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <p class="card-text">
            <div class="col-md-12 pb-5 ">
                <div class="row">
                    <table class=" table table-datatable table-bordered table-sm  table-striped table-hover">
                        <thead>
                            <tr>
                                <th>@L("UserName")</th>
                                <th>@L("FullName")</th>
                                <th>@L("EmailAddress")</th>
                                <th>@L("IsActive")</th>
                                <th>@L("Actions")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model.Users)
                            {
                                <tr>
                                    <td>@user.UserName</td>
                                    <td>@user.FullName</td>
                                    <td>@user.EmailAddress</td>
                                    <td>
                                        <i class="material-icons" style="color:@(user.IsActive ? "green":"red");">@(user.IsActive ? "check_box" : "indeterminate_check_box")</i>
                                    </td>
                                    <td class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">menu</i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="#" class="waves-effect waves-block edit-user" data-user-id="@user.Id" data-toggle="modal" data-target="#UserEditModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
                                            <li><a href="#" class="waves-effect waves-block delete-user" data-user-id="@user.Id" data-user-name="@user.UserName"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                        </ul>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </p>
    </div>
</div>



<div class="modal fade" id="UserCreateModal" tabindex="-1" role="dialog" aria-labelledby="UserCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>@L("CreateNewUser")</span>
                </h4>
            </div>
            <div class="modal-body">
                <form name="userCreateForm" role="form" novalidate class="form-validation">
                    <div class="col-md-12">
                        <ul class="nav nav-pills tab-col-blue-grey" id="myTab-2" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab-2" data-toggle="tab" href="#create-user-details" role="tab" aria-controls="home-2" aria-selected="true">@L("UserDetails")</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab-2" data-toggle="tab" href="#create-user-roles" role="tab" aria-controls="profile-2" aria-selected="false">@L("UserRoles")</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent-2">
                            <div class="tab-pane fade show active" id="create-user-details" role="tabpanel" aria-labelledby="home-tab-2">
                                <p class="text-justify">
                                    <div class="row clearfix" style="margin-top:10px;">
                                        <div class="col-sm-12">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <label class="form-label">@L("UserName")</label>
                                                    <input class="form-control" type="text" name="UserName" required
                                                           data-validation="length alphanumeric"
                                                           data-validation-length="3-12"
                                                           data-validation-error-msg="Username has to be an alphanumeric value (3-12 chars)" maxlength="@AbpUserBase.MaxUserNameLength" minlength="2">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-sm-6">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <label class="form-label">@L("Name")</label>
                                                    <input type="text" name="Name" class="form-control" required maxlength="@AbpUserBase.MaxNameLength">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <label class="form-label">@L("Surname")</label>
                                                    <input type="text" name="Surname" class="form-control" required maxlength="@AbpUserBase.MaxSurnameLength">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-sm-12">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <label class="form-label">@L("EmailAddress")</label>
                                                    <input type="email" name="EmailAddress" class="form-control" required maxlength="@AbpUserBase.MaxEmailAddressLength">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-sm-12">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <label class="form-label">@L("Password")</label>
                                                    <input type="password" class="form-control" id="password" name="Password" data-validation="strength"  maxlength="@AbpUserBase.MaxPlainPasswordLength" placeholder="Password">
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-sm-12">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <label class="form-label">@L("ConfirmPassword")</label>
                                                    <input type="password" id="confirmPassword" name="ConfirmPassword" class="form-control" required maxlength="@AbpUserBase.MaxPlainPasswordLength">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-sm-12">
                                            <div class="checkbox">
                                                <label for="CreateUserIsActive">@L("IsActive")</label>
                                                <input type="checkbox" name="IsActive" value="true" id="CreateUserIsActive" class="filled-in" checked />

                                            </div>
                                        </div>
                                    </div>
                                </p>
                            </div>
                            <div class="tab-pane fade" id="create-user-roles" role="tabpanel" aria-labelledby="profile-tab-2">
                                <p class="text-justify">
                                    <div class="col-sm-12 ">
                                        @foreach (var role in Model.Roles)
                                        {
                                            <div class="col-sm-6">
                                                <input type="checkbox" name="role" value="@role.NormalizedName" title="@role.Description" class="filled-in" id="role-@role.Id" />
                                                <label for="role-@role.Id" title="@role.DisplayName">@role.Name</label>
                                            </div>
                                        }
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                        <button id="validate" type="submit" class="btn btn-primary waves-effect">@L("OK")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="UserEditModal" tabindex="-1" role="dialog" aria-labelledby="UserEditModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>
