@using Abp.Authorization.Users
@using Abp.Extensions
@using Abp.MultiTenancy
@model AbpDemoOne.Web.Models.Account.LoginFormViewModel
@section Styles
    {

    @*<environment names="Development">
            <link rel="stylesheet" href="~/view-resources/Views/Account/Login.css" asp-append-version="true" />
        </environment>

        <environment names="Staging,Production">
            <link rel="stylesheet" href="~/view-resources/Views/Account/Login.min.css" asp-append-version="true" />
        </environment>*@

}
@section Scripts
    {
    <environment names="Development">
            <script src="~/view-resources/Views/Account/Login.js" asp-append-version="true"></script>
        </environment>

        <environment names="Staging,Production">
            <script src="~/view-resources/Views/Account/Login.min.js" asp-append-version="true"></script>
        </environment>
}

        <form id="LoginForm" method="post" asp-action="Login">
            <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
            <input type="hidden" name="returnUrlHash" />
            <div class="form-group">
                <label for="inputUserNameOrEmail">@L("UserNameOrEmail")</label>
                <input type="text" class="form-control" name="usernameOrEmailAddress" id="inputUserNameOrEmail" aria-describedby="emailHelp" placeholder="@L("UserNameOrEmail")">
                <small id="emailHelp" class="form-text text-muted">@L("EmailHelp")</small>
            </div>
            <div class="form-group">
                <label for="inputPassword">@L("Password")</label>
                <input type="password" class="form-control" name="Password" id="inputPassword" placeholder="@L("Password")">
            </div>
            <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="keep-signed-in">
                <label class="custom-control-label" for="keep-signed-in">@L("RememberMe")</label>
            </div>
            <button type="submit" class="btn btn-primary btn-gradient btn-block">
                <i class="batch-icon batch-icon-key"></i>
                @L("LogIn")
            </button>
            <hr>
            @if (Model.IsSelfRegistrationAllowed)
            {
                <p class="text-center">
                    @L("DonotHaveAnAccount")<a asp-controller="Account" asp-action="Register">@L("Register")</a>
                </p>
            }
        </form>

