@using Abp.Authorization.Users
@model AbpDemoOne.Web.Models.Account.RegisterViewModel
@{
    ViewBag.DisableTopBar = true;
}
@section Styles
{
    <environment names="Development">
        <link rel="stylesheet" href="~/view-resources/Views/Account/Login.css" asp-append-version="true" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/view-resources/Views/Account/Login.min.css" asp-append-version="true" />
    </environment>
}
@section Scripts{
    <environment names="Development">
        @*<script src="~/view-resources/Views/Account/Register.js" asp-append-version="true"></script>*@
    </environment>

    <environment names="Staging,Production">
        @*<script src="~/view-resources/Views/Account/Register.min.js" asp-append-version="true"></script>*@
    </environment>
}

    <form id="RegisterForm" asp-action="Register" method="post">
        <input type="hidden" name="IsExternalLogin" value="@Model.IsExternalLogin.ToString()" />
        <input type="hidden" name="ExternalLoginAuthSchema" value="@Model.ExternalLoginAuthSchema" />
        <div class="form-group">
            <label for="inputName">@L("Name")</label>
            <input type="text" class="form-control" id="inputName" name="Name" placeholder="@L("Name")" value="@Model.Name" required maxlength="@AbpUserBase.MaxNameLength">

        </div>
        <div class="form-group">
            <label for="inputSurname">@L("Surname")</label>
            <input type="text" class="form-control" id="inputSurname" name="Surname" placeholder="@L("Surname")" value="@Model.Surname" required maxlength="@AbpUserBase.MaxSurnameLength">

        </div>
        <div class="form-group">
            <label for="inputEmailAddress">@L("EmailAddress")</label>
            <input type="email" class="form-control" id="inputEmailAddress" name="EmailAddress" placeholder="@L("EmailAddress")" value="@Model.EmailAddress" required maxlength="@AbpUserBase.MaxEmailAddressLength">

        </div>
        <div class="form-group">
            <label for="inputUserName">@L("UserName")</label>
            <input type="text" class="form-control" id="inputUserName"  name="UserName" placeholder="@L("UserNamePlaceholder")" value="@Model.UserName" required maxlength="@AbpUserBase.MaxUserNameLength">

        </div>
        <div class="form-group">
            <label for="inputPassword">@L("Password")</label>
            <input type="password" class="form-control" id="inputPassword" name="Password" placeholder="@L("PasswordPlaceholder")" value="@Model.Password" required maxlength="@AbpUserBase.MaxPlainPasswordLength">

        </div>
        <div class="form-group">
            <label for="inputConfirmPassword">@L("ConfirmPassword")</label>
            <input type="password" class="form-control" id="inputConfirmPassword" required placeholder="@L("Password")">
        </div>
        @*<div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="newsletter-signup">
            <label class="custom-control-label" for="newsletter-signup">I want to receive weekly Newsletters</label>
        </div>*@
        <button type="submit" class="btn btn-primary btn-gradient btn-block">
            <i class="batch-icon batch-icon-quill"></i>
           @L("Register")
        </button>
        <hr>
        <p class="text-center">
            @L("AlreadyHaveAnAccount") <a asp-controller="Account" asp-action="Login">@L("Login")</a>
        </p>
    </form>

