@using AbpDemoOne.Web.Views.Shared.Components.TopBarLanguageSwitch
@model TopBarLanguageSwitchViewModel
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="navbar-dropdown-menu-link" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">
        <i class="batch-icon batch-icon-book-alt- @Model.CurrentLanguage.Icon"></i>
        <span>@Model.CurrentLanguage.DisplayName</span>
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbar-dropdown-menu-link">
        @foreach (var language in Model.Languages)
        {
            if (language.Name != Model.CurrentLanguage.Name)
            {
                <li>
                    <a class="dropdown-item" href="@(ApplicationPath)AbpLocalization/ChangeCulture?cultureName=@(language.Name)&returnUrl=@(Context.Request.Path)">
                        <i class="@language.Icon"></i>
                        <span> @language.DisplayName</span>
                    </a>
                </li>
            }
        }
    </ul>
</li>
